<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meet Your Crush</title>
</head>
<body>
<!-- Display crushes -->
{% for crush in crushes %}
    <div>{{ crush.user.username }}</div>
    <!-- Add more details as needed -->
    <button onclick="connectWith('{{ crush.user.username }}')">Connect</button>
{% endfor %}

<script>
function connectWith(username) {
    // Logic to connect with the selected crush
}
</script>

</body>
</html>